.empty {
    padding: 40px 0;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}


.table-responsive {
    .fixed-column {
        position: absolute;
        display: inline-block;
        width: auto;
        border-right: 1px solid #0b1526;
    }
}

@media(min-width:768px) {
    .table-responsive {
        .fixed-column {
            display: none;
        }
    }
}

.header-profile-background {
    min-height: 600px;
    background-image: url("./../../public/images/profile-cover.jpg");
    background-size: cover;
    background-position: center top;
}

.unset-top {
    top: unset !important;
}

.roster-card-img {
    position: absolute;
    left: 120px;
    bottom: 150px;
}

@media(min-width:768px) {
    .roster-card-img {
        position: absolute;
        left: 138px;
        bottom: 150px;
    }
}

// 卡片悬浮特效
.card-float {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.card-float::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-float:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.card-float:hover::after {
    opacity: 1;
}
